[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rk283
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rk283
	label-Verified = -1..+1 group user/rk283
	push = group user/rk283
	read = group user/rk283
	rebase = group user/rk283
	removeReviewer = group user/rk283
	submit = group user/rk283
[access "refs/heads/*"]
	create = group user/rk283
	push = +force group user/rk283
	pushMerge = group user/rk283
	read = group user/rk283
[access "refs/tags/*"]
	push = group user/rk283
	push = +force group user/rk283
